<%- include('includes/head') %>

    <body>
        <header>
            <%- include('includes/header_top'); %>
                <%- include('includes/header_nav'); %>
                    <!-- <%- include('includes/header_main'); %> -->
        </header>
        <div class="card-wrapper">
            <div class="card">
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            <img src="<%= data.imageURL %>" alt="shoe image">
                            <img src="<%= data.imagethumbnail1 %>" alt="shoe image">
                            <img src="<%= data.imagethumbnail2 %>" alt="shoe image">
                            <img src="<%= data.imagethumbnail3 %>" alt="shoe image">
                        </div>
                    </div>
                    <div class="img-select">
                        <div class="img-item">
                            <a href="#" data-id="1">
                                <img src="<%= data.imageURL %>" alt="shoe image">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="2">
                                <img src="<%= data.imagethumbnail1 %>" alt="shoe image">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="3">
                                <img src="<%= data.imagethumbnail2 %>" alt="shoe image">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="4">
                                <img src="<%= data.imagethumbnail3 %>" alt="shoe image">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- card right -->
                <div class="product-content">
                    <h3 class="product-title">
                        <%= data.productname %>
                    </h3>
                    <div class="product-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>
                            <%= data.rating %>(<%= data.reviewed %>)
                        </span>
                    </div>

                    <div class="product-price">
                        <p class="last-price">Old Price: <span>INR.<%= data.mrp%></span></p>
                        <p class="new-price">New Price: <span>INR.<%= data.currentprice %></span></p>
                    </div>

                    <div class="product-detail">
                        <h2>About this item: </h2>
                        <p>
                            <%= data.description %>
                        </p>
                        <ul>
                            <li>
                                <%= data.features %>
                            </li>
                        </ul>
                    </div>

                    <div class="purchase-info">
                        <input type="number" min="0" value="1">
                        <button type="button" class="btn">
                            Add to Cart <i class="fas fa-shopping-cart"></i>
                        </button>
                        <button type="button" class="btn">Compare</button>
                    </div>

                    <div class="social-links">
                        <p>Share At: </p>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // image selector
            const imgs = document.querySelectorAll('.img-select a');
            const imgBtns = [...imgs];
            let imgId = 1;

            imgBtns.forEach((imgItem) => {
                imgItem.addEventListener('click', (event) => {
                    event.preventDefault();
                    imgId = imgItem.dataset.id;
                    slideImage();
                });
            });

            function slideImage() {
                const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
                document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
            }
            window.addEventListener('resize', slideImage);
        </script>
    </body>
